/* (1) - fix the image size!! */

.IGNORE 
.order-item img {
  width: 5em; /* fixed width image relative to text size */
  height: 5em; /* fixed height image relative to text size */
  object-fit: contain; /* keep original image aspect ratio keeping image intact*/
}

/* (2) - choose a font */
.IGNORE 
.app {
  font-family: 'Roboto', sans-serif;
}

/* (3) - limit page width */

.IGNORE 
.app {
  max-width: 600px;
  margin: 0 auto; /* center horizontally */
}

/* color palette */
body {
  --outside-color: #f0f0f0;
  --background-color: white;
  --brand-color: #D0F0C0;
  --primary-color: green;
}

/* (4) - surface effect for main content */

.IGNORE 
main {
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* cute */
  border-radius: 0.4em; /* cute */
  padding: 1em; /* space inside edge of surface */
}

.IGNORE 
body {
  background-color: var(--outside-color); /* contrast for the white */
}

.IGNORE 
body {
  margin: 0; /* extend to browser edge */
}

/* @media screen and (max-width: 600px) {
  main {
    box-shadow: none;
    border-radius: 0;
  }
} */



/* (5) - top bar */

.IGNORE 
nav {
  background-color: var(--brand-color); /* cute */
}

.IGNORE 
nav {
  display: flex;
  flex-direction: row; /* horizontal */
  align-items: center; /* disregard unequal vertical margins on children */
  justify-content: space-between; /* move to edges */
}

.IGNORE
label {
  margin: 0.5em; /* space between label and input */
}

.IGNORE
nav {
  padding: 0 1em; /* space inside edge of top bar */
}

.IGNORE
nav {
  margin: 0 auto 1em auto; /* center horizontally, distance to main content */
}

/* (6) - page: title, content, note, action, navigation */

.IGNORE 
main {
  display: flex;
  flex-direction: column; /* each below the other */
}

/* (7) - page title */

.IGNORE
main h2 {
  text-align: center; /* cute */
}

/* (8) - page content */

.IGNORE
.numeric {
  text-align: right; /* alignment */
}

/* (9) - page note */

.IGNORE
p.note {
  font-style: italic; /* cute */
  font-size: 0.8em; /* cute */
  text-align: right; /* cute */
}

.IGNORE
td {
  padding: 0.5em; /* space between cells */
}

/* (10) - actions */

.IGNORE
.basket-actions {
  display: flex;
  flex-direction: row; /* horizontal */
  justify-content: end; /* fill from the end */
}

/* (11) - navigation */

.IGNORE
.checkout-navigation button {
  padding: 0.5em 1em; /* larger button */
}

.IGNORE
.checkout-navigation {
  margin: 1em 0; /* space above and below */
  display: flex;
  flex-direction: row; /* horizontal */
  justify-content: space-between; /* distribute */
}

.IGNORE
.checkout-navigation button.forward {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5em;
  color: var(--background-color);
  transition: transform 0.2s ease-in;
}

.IGNORE
.checkout-navigation button.forward:hover {
  transform: scale(1.1);
}

.IGNORE 
* {
  outline: 1px solid red;
}
